.form-container {
  max-width: 600px;
  /* Ajuste a largura máxima conforme necessário */
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 1 calc(50% - 10px);
  /* Divide o espaço em 2 colunas com espaço entre elas */
  margin-right: 10px;
  /* Espaço entre as colunas */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"] {
  width: 100%;
  /* Ocupa todo o espaço disponível */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.form-group textarea {
  width: 100%;
  /* Ocupa todo o espaço disponível */
  padding: 8px;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
  /* Impede a redimensionamento */
}

button[type="submit"] {
  flex-basis: 100%;
  /* Ocupa a largura total */
  background-color: #A7CE4A;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  height: 30px;
  border-radius: 3px;
  color: white;
}

button[type="submit"]:hover {
  flex-basis: 100%;
  /* Ocupa a largura total */
  background-color: #91b440;
  transition: background-color 0.3s ease;
}