<div class="create-button-wrapper">
  <button (click)="redirectTo('/')" class="create-button">
    <mat-icon style="font-size: 18px;">arrow_back</mat-icon>
    Voltar para o início
  </button>
</div>

<div class="form-container">
  <form (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" [(ngModel)]="productData.title" name="title" id="title" required>
    </div>
    <div class="form-group">
      <label for="price">Preço:</label>
      <input type="number" [(ngModel)]="productData.price" name="price" id="price" required>
    </div>
    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea [(ngModel)]="productData.description" name="description" id="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="photo">Foto:</label>
      <input type="file" (change)="onFileChange($event)" accept="image/*">
    </div>
    <button type="submit">Adicionar Produto</button>
  </form>
</div>


<div class="container">
  <h2>Produtos:</h2>
  <div class="product-grid">
    <div *ngIf="productList.length > 0">
      <div class="product-list">
        <div *ngFor="let product of productList" class="product-card">
          <h3 class="card-title">{{ product.title }} - {{ product.price | currency }}</h3>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="productList.length === 0">
      <p>Nenhum produto postado ainda.</p>
    </div>
  </div>
</div>
