.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 1 1 calc(50% - 10px);
  margin-right: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

.form-group textarea {
  width: 100%;
  padding: 8px;
  outline: none;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

button[type="submit"] {
  flex-basis: 100%;
  background-color: #A7CE4A;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  height: 30px;
  border-radius: 3px;
  color: white;
}

button[type="submit"]:hover {
  flex-basis: 100%;
  background-color: #91b440;
  transition: background-color 0.3s ease;
}


.container {
  min-height: 65vh;
  margin-top: 1em;
}

.material-icons {
  vertical-align: middle;
  background-color: white;
}


.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.filters-left {
  display: flex;
  flex-wrap: wrap;
}

.search-bar-wrapper,
.select-wrapper,
.create-button-wrapper {
  margin-top: 20px;
}

.search-bar-wrapper input,
.select-wrapper select,
.create-button {
  margin-right: 10px;
}

input,
select,
.create-button {
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



.create-button {
  background-color: #a0a6aa;
  color: #fff;
  border: none;
  cursor: pointer;
}

.create-button:hover {
  background-color: #83888c;
}

.create-button mat-icon {
  color: #fff;

  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .product-card {
    flex: 0 0 calc(50% - 20px); 
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    flex: 0 0 calc(100% - 20px);
  }
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #555;
}
