<section class="contact-area" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="contact-content text-center">

          <div class="contact-social">
            <ul>
              <li><a class="hover-target" href=""> <mat-icon style="font-size: 40px;color: #c0c0c0">store</mat-icon>
                </a></li>
              <li><a class="hover-target" href=""> <mat-icon
                    style="font-size: 40px;color: #c0c0c0">shopping_cart</mat-icon>

                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>Copyright &copy; 2024. Todos direitos reservados.</p>
</footer>