section {
  padding: 13px 0;
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-area {
  border-bottom: 1px solid #c0c0c0;
}

.contact-content p {
  font-size: 15px;
  margin: 30px 0 60px;
  position: relative;
}




.contact-content span {
  color: #353c47;
  margin: 0 10px;
}



.contact-social {
  margin-top: 30px;
}

.contact-social>ul {
  display: flex;
  justify-content: center;
}


.contact-social ul li a {
  display: inline-block;
  height: 70px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 70px;
}


.contact-content img {
  max-width: 210px;
}

section,
footer {
  background: #33322D;
  color: #868c96;
}

footer p {
  padding: 40px 0;
  text-align: center;
  color: #c0c0c0;
}