.product-details-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.product-details {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.details-container {
    flex: 2;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-price, .product-stock {
    font-size: 18px;
}

.buttons-container {
    margin-top: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .product-details-container {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .product-details-container {
        width: 100%;
    }

    .product-details {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .details-container {
        flex: none;
    }
}

