.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz com que o contêiner ocupe 100% da altura da tela */
}

.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 40px; /* Aumenta o preenchimento interno para aumentar a altura do formulário */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-field {
  width: calc(100% - 20px);
  margin-bottom: 20px; /* Aumenta a margem inferior para separar os campos de entrada */
  padding: 15px; /* Aumenta o preenchimento interno dos campos de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px; /* Aumenta o tamanho da fonte nos campos de entrada */
}

.login-button {
  width: calc(100% - 20px);
  padding: 15px; /* Aumenta o tamanho do botão */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px; /* Aumenta o tamanho da fonte do botão */
}

.login-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .login-form {
    max-width: 800px;
  }
}