.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 40px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-field {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px; 
}

.login-button {
  width: calc(100% - 20px);
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .login-form {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .login-form {
    margin: 20px; 
  }
}