.container {
  min-height: 65vh;
  margin-top: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}



.btn-details {
  padding: 5px 3px;
  margin-top: 10px;
  width: 70px;
  background-color: rgb(34, 142, 230);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}



button {
  padding: 8px 16px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: transparent;
}

.material-icons {
  vertical-align: middle;
  background-color: white;
}


.product-grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 250px;
  margin: 10px; 
  margin-bottom: 20px; 
}


.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
  font-size: 18px;
}

.card-text {
  margin: 0;
  font-size: 16px;
}


/* .btn-details {
  margin-top: 10px;
  width: 70px;
  background-color: rgb(34, 142, 230);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
} */

.btn-details:hover {
  background-color: rgb(29, 113, 182);

}


.btn-delete {
  margin-top: 10px;
  /* padding: 5px 10px; */
  background-color: #E62222;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}

.btn-delete:hover {
  background-color: #cc0000;
}

button {
  padding: 0px 6px; 
  font-size: 12px; 
  width: auto;
}

.btn-add-to-cart {
  margin-top: 10px;
  /* padding: 5px 10px; */
  background-color: #A7CE4A;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}

.btn-add-to-cart:hover {
  background-color: #91b440;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}


.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

.filters-left {
  display: flex;
  flex-wrap: wrap;
}

.search-bar-wrapper,
.select-wrapper,
.create-button-wrapper {
  display: flex;
  align-items: center;
}

.search-bar-wrapper input,
.select-wrapper select,
.create-button {
  margin-right: 10px;
}

input,
select,
.create-button {
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  cursor: pointer;
}

.create-button {
  background-color: #a0a6aa;
  color: #fff;
  border: none;
  cursor: pointer;
}

.create-button:hover {
  background-color: #83888c;
}

.create-button mat-icon {
  color: #fff;

  background: transparent;
}

@media screen and (max-width: 600px) {
  .filters-container {
    flex-direction: column;
  }

  .filters-left {
    width: 100%;
  }

  .search-bar-wrapper,
  .select-wrapper,
  .create-button-wrapper {
    width: 250px; 
    margin-bottom: 10px;
  }

  .search-bar-wrapper input,
  .select-wrapper select,
  .create-button {
    width: 100%;
  }
}
