<div class="filters-container">
  <div class="filters-left">
    <div class="search-bar-wrapper">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterProducts()" placeholder="Pesquise...">
    </div>
    <div class="select-wrapper">
      <select [(ngModel)]="selectedCategory" (change)="filterProducts()">
        <option value="">Filtrar por categoria</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="select-wrapper">
      <select [(ngModel)]="selectedBrand" (change)="filterProducts()">
        <option value="">Filtrar por marca</option>
        <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
      </select>
    </div>
  </div>
  <div class="create-button-wrapper">
    <button (click)="redirectTo('/post')" class="create-button">
      <mat-icon style="font-size: 22px;">add_circle_outline</mat-icon>
      Adicionar Novo Produto
    </button>
  </div>
</div>


<div *ngIf="paginatedProducts.length > 0; else noProducts">
  <div class="position">
    <div class="product-grid">
      <div class="card product-card" *ngFor="let product of paginatedProducts" (click)="goToProductDetails(product.id)">
        <img [src]="product.images[0]" alt="Product Image" class="product-image">
        <div class="card-body">
          <h3 class="card-title">{{ product.title }}</h3>
          <p class="card-text">Price: {{ product.price }}</p>
          <div class="button-container">
            <button type="button" (click)="deleteProduct($event, product.id)" class="btn-delete">Deletar</button>
            <!-- <button type="button" (click)="addToCart($event,product.id)" class="btn-add-to-cart">Adicionar</button> -->
            <button (click)="addToCart($event,product.id)">Adicionar ao carrinho</button>

            <button class="btn-details" (click)="goToProductDetails(product.id)">Detalhes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <button (click)="toggleMenu()">Abrir Menu</button> -->

  <div class="menu" [ngClass]="{'open': isMenuOpen}">
    <button (click)="toggleMenu()" class="close-button">Fechar</button>
    <ul>
      <div *ngIf="addedProductDetails">
        <h3>Detalhes do Produto Adicionado:</h3>
        <p>{{ addedProductDetails.title }}</p>
        <p>{{ addedProductDetails.brand }}</p>
        <img [src]="addedProductDetails.thumbnail" alt="Product Image" class="product-image">

        <p>Preço: {{ addedProductDetails.price }}</p>
      </div>
    </ul>
  </div>

  

  
  <!-- 


  <ng-template #noProducts>
    <div>
      <p>No products found.</p>
    </div>
  </ng-template> -->



  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      <i class="material-icons">chevron_left</i> Previous
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next <i class="material-icons">chevron_right</i>
    </button>
  </div>

</div>

<ng-template #noProducts>
  <div>
    <p>No products found.</p>
  </div>
</ng-template>

<app-footer></app-footer>